:root {
    font-size: 16px;
    font-family: 'roboto', 'Helvetica Neue', sans-serif;
    --primary-color: #171A21;
    --secondary-color: #ff0000;
    --secondary-color-dark: #9e0101;
    --third-color: #818479;
    --fourth-color: #ffea00;
    --fourth-color-dark: #e2b616;
    --fifth-color: #007AB8;
    --sixth-color: #fff;
}

* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0 0;
}



/* INPUT */
#name {

    padding: .5rem;
    border-radius: 10px;
}

input[type=text] {
    width: 100%;
    -webkit-transition: width 0.15s ease-in-out;
    transition: width 0.15s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
}




/* HEADER  */



.header {
    height: 100px;
    top: 0;
}

.header__band {
    background: linear-gradient(to bottom, var(--fourth-color), var(--fourth-color-dark));
    width: 100%;
    height: 1.2rem;
    position: absolute;
    top: 3.2rem;
    z-index: -1;
}

.header__link {
    display: flex;
    width: 8rem;
    margin: 0 auto;
}

.header__logo {
    width: 100%;
}

.header__background {
    background-color: var(--primary-color);
    opacity: 40%;
    position: absolute;
    width: 100%;
    height: 7rem;
    z-index: -10;
}

/* BODY  */
.body {
    background-color: var(--primary-color);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.body__background {
    background-image: url(img/entrance.gif);
    /* background: linear-gradient(to right, black, white); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 80%;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -10;
}

/* SECTION SELECTION */

.selection {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.selection__hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
    position: relative;
}

.heroes__container {
    display: flex;
    justify-content: space-between;
    margin: 0 1rem;
}

.selection__heroes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* BUTTON */

.button {
    background: linear-gradient(var(--primary-color), #818479, var(--primary-color));
    padding: 0.5rem 0.75rem;
    border-radius: 10% 90% 10% 90% / 90% 10% 90% 10%;
    color: var(--fourth-color);
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.speed__selection {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
    width: 3rem;
    height: 2rem;
}

.play__button {
    position: absolute;
    top: 0;
    right: 0;
    width: 2rem;
    z-index: 100;


}

.speed__button {
    position: absolute;
    top: 0;
    right: 1rem;
    width: 2rem;
    z-index: 100;
}


.active {
    background: linear-gradient(var(--primary-color), #790909, var(--primary-color));
    z-index: 100;
}

.button__lnk {
    width: 100%;
    border: none;
    z-index: 100;
    font-size: 16px;
    background-color: var(--sixth-color);
}

.button__lnk:hover {
    background-color: var(--fifth-color);
    color: var(--fourth-color);
    z-index: 100;
}

.search__button-random {
    align-self: center;
    background: linear-gradient(var(--primary-color), #790909, var(--primary-color));
    padding: 0.5rem 0.75rem;
    border-radius: 10% 90% 10% 90% / 90% 10% 90% 10%;
    color: var(--fourth-color);
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    /* margin-top: 2rem; */
}

.search__button-random--active {
    background: linear-gradient(var(--primary-color), #818479, var(--primary-color));
    z-index: 100;
}

.resume__button {
    position: absolute;
    z-index: 100;
}

.delete__button {
    width: 10vw;
    height: 2vw;
    color: var(--sixth-color);
    background-color: var(--secondary-color-dark);
    font-size: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* SEARCH-BAR */
.search {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: center;
    border-color: #171A21;
}

.search__ttl {
    font-family: 'marvel';
    font-weight: bold;
    text-align: center;
    font-size: xx-large;
    color: var(--fourth-color)
}

.search__list {
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 100%;
    background-color: white;
    border: .5px solid var(--primary-color);
    border-top: 0;
}

.character__srch {
    width: 75%;
    margin: 0 auto;
}


/* SECTION HERO */

.hero__container {
    position: relative;
}

.name-combat {
    background-color: var(--sixth-color);
    border: .5vw solid var(--primary-color);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: var(--primary-color);
    font-family: 'marvel';
    font-weight: bold;
    font-size: 2vw;
}

.hero__delete {

    color: var(--secondary-color);
    font-size: xx-small;
    font-weight: 700;
    right: 0;
    display: none;
    justify-content: right;
    width: 100%;

}

.hero__cross-1 {
    left: 0;
    position: absolute;
    width: 100%;
    opacity: 0;
    transition: opacity 5s ease;
    aspect-ratio: 1/1;
    z-index: -10;
}

.hero__cross-2 {
    position: absolute;
    width: 100%;
    opacity: 0;
    transition: opacity 5s ease;
    right: 0;
    aspect-ratio: 1/1;
    z-index: -10;
}

.hero__cross-1-display {
    opacity: 1;
    z-index: 100000;
}

.hero__cross-2-display {
    opacity: 1;
    z-index: 100000;
}


@keyframes move-fight-1 {
    0% {
        left: 0;
        z-index: 10000;

    }

    80% {
        transform: rotate3d(0, 0, 1, 0deg);
        z-index: 10000;
    }

    100% {
        left: 40vw;
        transform: rotate3d(0, 0, .1, 45deg);
        z-index: 10000;
    }
}

.hero__container-1 {
    position: relative;
    animation-timing-function: cubic-bezier(1, -0.09, 1, 1.38);
    animation-name: move-fight-1;
    animation-duration: .75s;
}

@keyframes move-fight-2 {
    0% {
        right: 0;
        z-index: 10000;

    }

    80% {
        transform: rotate3d(0, 0, .1, 0deg);
        z-index: 10000;
    }

    100% {
        right: 40vw;
        transform: rotate3d(0, 0, 1, -45deg);
        z-index: 10000;
    }
}

.hero__container-2 {
    position: relative;
    animation-timing-function: cubic-bezier(1, -0.09, 1, 1.38);
    animation-name: move-fight-2;
    animation-duration: .75s;

}

/* @keyframes move-fight-miss-1 {
    0% {
        transform: rotate3d(0,0,1,0deg);
        left: 0;
        z-index: 10000;

    }
    50% {
        transform: rotate3d(0,0,1,-225deg);
        z-index: 10000;
    }

    100% {
        left: 40vw;
        transform: rotate3d(0,0,.1,450deg);
        z-index: 10000;
    }
}

.hero__container-miss-1 {
    position: relative;
    animation-timing-function: cubic-bezier(1,-0.09,1,1.38);
    animation-name: move-fight-miss-1;
    animation-duration: .75s;
}

@keyframes move-fight-miss-2 {
    0% {
        transform: rotate3d(0,0,.1,0deg);
        right: 0;
        z-index: 10000;
        
    }
    50% {
        transform: rotate3d(0,0,1,-225deg);
        z-index: 10000;
    }
    
    100% {
        right: 40vw;
        transform: rotate3d(0,0,1,-450deg);
        z-index: 10000;
    }
}

.hero__container-miss-2 {
    position: relative;
    animation-timing-function: cubic-bezier(1,-0.09,1,1.38);
    animation-name: move-fight-miss-2;
    animation-duration: .75s;
    
} */
.hero__img {
    width: 30vw;
    aspect-ratio: 1/1;
    object-fit: cover;
    border: white 2px solid;
    border-radius: 2vw;
    background-color: var(--sixth-color);
}

.fight__img {
    width: 0%;
    position: absolute;
    z-index: 1000;
    top: 10rem;
    transition: width .3s ease-in-out;
}

.versus__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 2rem;
    margin: 0 auto;
}

.versus__img {
    max-width: 15vw;
}

@media screen and (min-width:1000px) {

    .hero__delete {
        justify-content: center;
    }

    .fight__img {
        width: 0%;
        position: absolute;
        z-index: 1000;
        top: 10rem;
        transition: width .3s ease-in-out;
        margin: auto;
    }

    .hero__img {
        width: 20vw;
    }
}

/* HERO IMG ANIM */
.hero__anim {
    position: absolute;

}

.anim__miss-1 {
    position: absolute;
    width: 20vw;
    top: -5vw;
    left: 20vw;
}

.anim__miss-2 {
    position: absolute;
    width: 20vw;
    top: -5vw;
    right: 20vw;
}

.anim__aargh-1 {
    position: absolute;
    width: 40vw;
    rotate: 30deg;
    top: -3vw;
    left: -3vw;
}

.anim__aargh-2 {
    position: absolute;
    width: 40vw;
    rotate: 30deg;
    top: -3vw;
    right: -37vw;
}

.anim__bam-1,
.anim__bang-1,
.anim__oops-1 {
    position: absolute;
    width: 30vw;
    top: 5vw;
    left: 0vw;
    rotate: -30deg;
}

.anim__bam-2,
.anim__bang-2,
.anim__oops-2 {
    position: absolute;
    width: 30vw;
    top: 5vw;
    right: -30vw;
    rotate: 30deg;
}

@media screen and (min-width:1000px) {
    .anim__aargh-1 {
        position: absolute;
        width: 25vw;
        rotate: 30deg;
        top: -2vw;
        left: -2vw;
    }

    .anim__aargh-2 {
        position: absolute;
        width: 25vw;
        rotate: 30deg;
        top: -2vw;
        right: -23vw;
    }

    .anim__bam-1,
    .anim__bang-1,
    .anim__oops-1 {
        position: absolute;
        width: 20vw;
        top: 5vw;
        left: 0vw;
        rotate: -20deg;
    }

    .anim__bam-2,
    .anim__bang-2,
    .anim__oops-2 {
        position: absolute;
        width: 20vw;
        top: 5vw;
        right: -20vw;
        rotate: 30deg;
    }
}

/* CHARACTER CARD */

.hero__character-card {
    width: 30vw;
    aspect-ratio: 1/1;
    object-fit: cover;
    border: black 2px solid;
    border-radius: 2vw;
    background-color: var(--fifth-color);
    padding: 1rem;
    text-overflow: ellipsis;
    overflow: hidden;
    overflow-y: scroll;
}

.character-card__list {
    display: flex;
    margin-bottom: 4px;
    flex-direction: column;
    height: auto;
}

.character-card__title {
    font-size: 3vw;
}

.character__points {
    border: 1px var(--primary-color) solid;
    width: 33px;
    height: 33px;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 4px;
    margin-bottom: 0;
    background-color: #f4d35e;
}

.character-card__features__text {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--primary-color);
    font-weight: 700;
    margin-right: .5rem;
    left: 1rem;
}

.character-card__features__text-2 {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--primary-color);
    font-weight: 700;
    margin-right: 2rem;
    left: 1rem;
}

.character-card__img {
    border: 2px var(--primary-color) solid;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 5px;
    width: 60px;
    height: 62px;
}

.character-card__top-title {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center
}


.character-card__top {
    display: flex;
    flex-direction: column;
}


.character-card__features {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
}

/* PAGE LIST */

.list_img {
    width: 100%;
    border-radius: 0 0 1rem 1rem;
}

.heroes-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin: auto;
    padding: 0;
}

.hero_information {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 10rem;
    list-style: none;
    background-color: var(--third-color);
    border-radius: 1rem;
}

.character-card {
    width: 80%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.list-character-card__title {
    width: 100%;
    font-size: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}


.container-heros {
    list-style: none;
    width: 10rem;
    background-color: var(--third-color);
    border-radius: 1rem;
    height: 16.7rem;
}

.name-hero {
    font-size: 100%;
    margin: .25rem 0 .25rem 0;
}

.list-character-card__list {
    width: 100%;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.list-character-card__img {
    width: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.list-character-card__progress {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: .5rem 0 .5rem 0;
}

.list-progress {
    width: 50%;
    height: 1rem;
    background-color: #fff;
    border-radius: 1rem;
}

/* .progress__val {
    width: 50%;
    background-color: #007AB8;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.list-character-card__top-title {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    width: 100%;
}



/* HEART_IMG */
.health-img-1 {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--primary-color);
    font-weight: 700;
    width: 2rem;
    left: 1rem;
}

.health-img-2 {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--primary-color);
    font-weight: 700;
    width: 2rem;
    left: 1rem;
}

/* CHARACTER CARD -- progress-bar */
.character-card__progress {
    display: flex;
    flex-direction: column;
    margin: .5rem 0;
    align-items: center;
    justify-content: space-between;
}

.progress {
    width: 25vw;
    height: 1rem;
    background-color: #fff;
    display: flex;
    align-items: flex-end;
    border-radius: 2rem;
    border: 2px solid var(--primary-color);
    padding-top: 1rem;
}

.progress__val {
    width: 1px;
    height: 100%;
    transition: width 10s ease;
    border-radius: 2rem;
    text-align: center;
    padding-bottom: 1rem;
}

.progress__val-life {
    background-color: rgb(36, 202, 36);
    width: 0%;
    transition: width 1s ease;
    top: 0;
}

.progress__val-speed {
    background-color: rgb(196, 196, 6);
    width: 0%;
    transition: width 1s ease;
}

.progress__val-atq {
    background-color: rgb(179, 54, 54);
    width: 0%;
    transition: width 1s ease;
}

.progress__val-shield {
    background-color: rgb(40, 40, 207);
    width: 0%;
    transition: width 1s ease;
}

@media screen and (min-width:1000px) {
    .progress {
        width: 27rem;
    }

    .character-card__progress {
        display: flex;
        flex-direction: row;
        margin: .5rem 0;
        align-items: center;
        justify-content: space-between;
    }
}

/* CHARACTER CARD -- biography */
.character-card__bio {
    display: flex;
    flex-direction: column;
    font-size: medium;
}

.bio__text-title {
    font-weight: 700;
    color: var(--primary-color);
}

.bio__title {
    text-align: center;
    color: var(--secondary-color-dark);
    font-weight: 700;
}

.bio__text {
    margin: 0;
    font-weight: 500;
    color: var(--sixth-color);
}

@media screen and (min-width:1000px) {
    .character__points {
        width: 50px;
        height: 50px;
    }

    .character-card__title {
        font-family: 'marvel';
        font-weight: bold;
        font-size: 2vw;
    }

    .character-card__top-title {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center
    }

    .hero__character-card {
        width: 20vw;
    }

    .character-card__bio {
        font-size: medium;
    }
}


/* PROFIL CARD */
.profils__character-card {
    display: flex;
    margin-bottom: 4px;
    background-color: var(--fifth-color);
    padding: 10px;
    border-radius: 5px;
    border: 1px var(--primary-color) solid;
    flex-direction: column;
    height: auto;
    width: 150px;
    margin: auto;
}

.profils__character-card__top {
    display: none;
}

.profils__character-card__img {
    border: 2px var(--primary-color) solid;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 5px;
    width: 120px;
    height: 120px;
}

/* SECTION COMBAT */
.combat-design {
    /* background-image: url(img/entrance.gif); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 2rem auto;
    width: 90vw;
    /* height: 80vh; */
    padding-bottom: 2rem;
    padding-top: 3rem;
    position: relative;
    z-index: 0;
}

.combat-background {
    background-image: url(img/anime-punch-VFX-high.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 50%;
    z-index: -100;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.hero__life-container {
    display: flex;
    width: 90%;
}

.life__progress-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.fight__ttl {
    color: var(--fourth-color);
}

/* PROGRESS-BAR__LIFE-COMBAT */
.life-combat {
    height: .5rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1px;
    transition: ease 0.5s;
    top: 0;
}

.progress__life-bar {
    width: 100%;
    height: .5rem;
    background-color: #fff;
    display: flex;
    align-items: flex-end;
    border-radius: 1rem;
    top: 0;
}

.progress__life-point {
    color: red;
    position: absolute;
    text-align: center;
    font-size: xx-small;
    font-weight: 700;
}

@media screen and (min-width:1000px) {
    .life-combat {
        height: 1rem;
    }

    .progress__life-bar {
        height: 1rem;
    }

    .progress__life-point {
        font-size: 1rem;
    }
}

/* COLORS LIFE */
.green {
    background-color: chartreuse;
}

.orange {
    background-color: orange;
}

.red {
    background-color: red;
}


/* RESUME */
.resume__text {
    width: 80vw;
    background-color: var(--fifth-color);
    overflow-y: scroll;
    height: 20vh;
    padding-top: .25rem;
    padding-left: .5rem;
    border: 3px solid black;
    margin: 2rem auto;
}

.resume__text_title {
    display: flex;
    justify-content: center;
}


.resume {
    position: relative;
    display: flex;
    justify-content: center;
}



/* Create Page */

.create_menu {
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem calc(max(0px, calc(50vw - min(45vw, 640px))));
    gap: 1rem;
    padding: .5rem;
}

.menu_title {
    color: var(--fourth-color-dark);
    text-align: center;
    font-weight: 900;
}

.menu_informations {
    background-color: var(--secondary-color-dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    width: 100%;
    gap: 1rem;
}

.informations_form {
    width: 80%;
    max-width: 15rem;

}

.form_name {
    background-color: var(--third-color);
    color: white;
    border: var(--primary-color) 1px solid;
    border-radius: .5rem;
    text-align: center;
    height: 2rem;
}

@media screen and (min-width:1200px) {
    .informations_form {
        width: 20%;
    }
}

.informations_picture {
    background-color: #a8aaa3;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: .5rem;
}

.picture_hero {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 1rem;
    object-fit: cover;

}

.informations_stats {
    background-color: var(--third-color);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: var(--primary-color) 1px solid;
    border-radius: .5rem;
    padding: .5rem;
}

@media screen and (min-width:1200px) {
    .informations_stats {
        width: 60%;
    }
}

.stats_stat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: .5rem 0;
}

.stat_name {
    color: var(--sixth-color);
    font-size: smaller;
    margin: auto;
}

.progress_button {
    width: 1.5rem;
    aspect-ratio: 1/1;
}

.stat_progress {
    display: flex;
    width: 80%;
    gap: .5rem;
}

.progress_bar {
    display: flex;
    width: 100%;
    background-color: var(--sixth-color);
    border-radius: 2rem;

}

.bar_stat {
    width: 50%;
    height: 100%;
    background-color: var(--fifth-color);
    border-radius: 2rem;
}

.stat_value {
    display: flex;
    justify-content: center;
    width: 30%;
    position: absolute;
}

.stats_rest {
    padding: 0 1rem;
    color: var(--sixth-color);
    background-color: var(--secondary-color-dark);
    border: var(--sixth-color) 1px solid;
    margin: auto;
    font-size: smaller;
}

/* FOOTER   */

.footer {
    height: 100px;
    top: 0;
}

.footer__band {
    background: linear-gradient(to bottom, var(--fourth-color), var(--fourth-color-dark));
    width: 100%;
    height: 1.2rem;
    bottom: -4.4rem;
    z-index: -1;
    position: relative;
}

.footer__link {
    display: flex;
    width: 8rem;
    margin: 0 auto;
}

.footer__logo {
    width: 100%;
}

.footer__background {
    background-color: var(--primary-color);
    opacity: 40%;
    position: absolute;
    width: 100%;
    height: 7rem;
    z-index: -10;
}

/* UTILITIES  */



.display-none {
    display: none;
}

.margin-right {
    margin-right: .5rem;
}

.margin-bottom {
    display: block;
    margin-bottom: 3rem;
}

.flex-wrap {
    flex-wrap: wrap;
}